<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/file" encType="multipart/form-data" ref='uploadForm'>
    <label for="ip">file upload here</label>
    <input id="ip" name="file" type="file"><br/>
    <label>Add route</label>
    <input type="text" name='route' placeholder="/<add route here>">
    <input type="submit" value="uploaded!!">
    </form>
</body>
</html>