<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><ul>
    <li><a href="/auth/login">Login </a> </li>
    <li><a href="/auth/logout">logout </a> </li>
    <li><a href="/">Home </a> </li>
</ul>
    <h1>hello! this is home</h1>
    <form action='/auth/google' method="POST">
        <input type="text" name="u" value="aman" hidden />
        <button type="submit"> Login with google </button>
    </form>
</body>
</html>